HOSTNAME_PLACEHOLDER {
    tls /etc/caddy/certs/tailscale.crt /etc/caddy/certs/tailscale.key

    handle_path /static/* {
        root * /opt/todoapp/staticfiles
        file_server
    }

    handle {
        reverse_proxy localhost:8000
    }
}
